DIV {
border: 1px solid #000;
}
#Header {
height: 100px;
width: 800px;
margin-right: auto;
margin-left: auto;
background: url(images/banner.png) no-repeat;
color:blue;
}

#MainContext {
width: 800px;
margin-right: auto;
margin-left: auto;
}